@view-transition {
  navigation: auto;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-text{
    font-family: league gothic, courier, monospace;
    font-size: 100px;
    border: none;
    background-color: white;
    transition: color 0.15s;
}

.nav-text:hover{
    color: #555;
    transition: color 0.15s;
}

.nav-text:active{
    color: #333;
    transition: color 0.15s;
}