.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-text{
    font-family: league gothic, courier, monospace;
    font-size: 175px;
    border: none;

}