@view-transition {
  navigation: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.nav-text{
    font-family: league gothic, courier, monospace;
    font-size: 150px;
    border: none;
    background-color: white;
    transition: color 0.15s;
    text-decoration: none;
    color: black;
}

.nav-text:hover{
    color: #555;
    transition: color 0.15s;
}

.nav-text:active{
    color: #333;
    transition: color 0.15s;
}